<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Backlog</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">

    <h2>Backlog</h2>

    <div>
        <!-- Button trigger modal -->
        <button class="btn btn-primary" data-target="#personModal" data-toggle="modal" id="modal-btn" type="button">Add
            people
        </button>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="personModal" class="modal fade" id="personModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personModalLabel">Add people</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    Woohoo, you're reading this text in a modal!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group" th:each="task : ${tasks}">
        <li class="list-group-item d-flex mb-3"
            th:href="@{/tasks/{id}/edit(id = ${task.id})}">
            <div class="me-auto p-2">
                <span th:text="${task.taskType}"></span>

                <span th:text="|${task.project.projectKey}-${task.id}|"></span>

                <span th:text="${task.summary}"></span>
            </div>

            <div class="p-2">
                <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>

                <span th:text="${task.status}"></span>

                <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>

                <a th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                    <i class="fas fa-edit"></i>
                </a>

                <a th:href="@{/tasks/{id}/delete(id = ${task.id})}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
    </ul>

    <a th:href="@{/tasks/add}">
        <button class="btn btn-primary" type="button">Create issue</button>
    </a>

</div>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/modal.js}"></script>

</body>
</html>