<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Backlog</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">

    <h2>Backlog</h2>

    <div class="backlog-header d-flex mb-3">

        <!-- add people -->
        <div class="project-access me-auto p-2">
            <a th:href="@{/projects/{projectId}/access(projectId = ${project.id})}">
                <button class="btn btn-primary" id="addPeople" name="addPeople" type="button">Add people</button>
            </a>
            <span th:each="user : ${users}">
                <span th:text="|${user.firstName} ${user.lastName}|"></span>
            </span>
        </div>

        <!-- create issue -->
        <!--        <div class="p-2">-->
        <!--            <a th:href="@{/tasks/add}">-->
        <!--                <button class="btn btn-primary" type="button">Create issue</button>-->
        <!--            </a>-->
        <!--        </div>-->
        <div class="p-2">
            <a th:href="@{/tasks/add}">
                <button class="btn btn-primary" type="button">Create issue</button>
            </a>
        </div>
    </div>

    <!-- sprint list -->
    <div class="sprint-list">

        <ul class="list-group" th:each="sprint : ${sprints}">

            <!-- sprint item -->
            <li class="bg-light list-group-item mb-3 sprint">

                <div class="sprint-info d-flex">
                    <!-- sprint info left -->
                    <div class="sprint-info-left me-auto">
                        <b><span th:text="${sprint.name}"></span></b>
                        <span th:text="${#temporals.format(sprint.dateFrom, 'd MMM')}"></span> -
                        <span th:text="${#temporals.format(sprint.dateTo, 'd MMM')}"></span>
                        <span>(<a th:text="${#lists.size(sprint.tasks)}"></a> issues)</span>
                    </div>

                    <!-- sprint info right -->
                    <div class="sprint-info-right">

                        <span class="badge rounded-pill bg-primary" th:text="${sprint.storyPoints}"></span>

                        <span class="actions">
<!--                            <a th:href="@{/sprints/{id}/edit(id = ${sprint.id})}">-->
                                <a th:href="@{/projects/7/sprints/8/edit}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            <!--  TODO: delete this when dropdown is fixed -->
                                <a th:href="@{/projects/{projectId}/sprints/{sprintId}/delete(projectId = ${project.id}, sprintId = ${sprint.id})}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                    </div>
                    <!-- TODO: use this dropdown button for sprint options (edit/delete) when dropdown is fixed -->
                    <div class="dropdown">
                        <button aria-expanded="false" class="btn" data-bs-toggle="dropdown" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   th:href="@{/projects/{projectId}/sprints/{sprintId}/delete(projectId = ${project.id}, sprintId = ${sprint.id})}">Delete
                                sprint</a></li>
                        </ul>
                    </div>
                </div>

                <!-- no tasks -->
                <div th:unless="${#lists.size(sprint.tasks) > 0}">
                    <span>Plan a sprint by adding issues here.</span>
                </div>

                <!-- tasks in sprint -->
                <div class="sprint-task-list" th:if="${#lists.size(sprint.tasks) > 0}">

                    <!--    <a class="btn btn-primary btn-sm" role="button" th:href="@{/sprints/{id}/edit(id = ${sprint.id})}">-->
                    <a class="btn btn-primary btn-sm" role="button" th:href="@{/projects/7/sprints/8/edit}">
                        <i class="fas fa-pencil-alt"></i> Add dates
                    </a>

                    <ul class="list-group" th:each="task : ${sprint.tasks}">

                        <!-- issue -->
                        <li class="issue-wrapper list-group-item d-flex mb-3"
                            th:href="@{/tasks/{id}/edit(id = ${task.id})}">

                            <!-- issue info left -->
                            <div class="issue-info-left me-auto p-2">
                                <span th:text="${task.taskType}"></span>
                                <span th:text="|${task.project.projectKey}-${task.id}|"></span>
                                <span th:text="${task.summary}"></span>
                            </div>

                            <!-- issue info right -->
                            <div class="issue-info-right p-2">
                                <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>
                                <span th:text="${task.status}"></span>
                                <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>

                                <!-- actions -->
                                <span class="actions">
                                    <a th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <a th:href="@{/tasks/{id}/delete(id = ${task.id})}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a th:href="@{/projects/{projectId}/sprints/{sprintId}/tasks/{taskId}/delete(projectId = ${project.id}, sprintId = ${sprint.id}, taskId = ${task.id})}">
                                        <i class="fas fa-eraser"></i>
                                    </a>
                                </span>
                            </div>

                        </li>

                    </ul>
                </div>

            </li>

        </ul>

    </div>

    <!-- backlog accordion -->
    <div class="backlog-accordion d-flex mb-3">

        <div class="me-auto p-2">
            <h3>Backlog</h3>
        </div>

        <div class="p-2">
            <form method="post" th:action="@{/projects/{projectId}/sprints/add(projectId = ${project.id})}">
                <button class="btn btn-primary" type="submit">Create sprint</button>
            </form>
        </div>

    </div>

    <!-- backlog issues -->
    <div class="backlog-issues-wrapper">

        <ul class="list-group" th:each="task : ${backlogTasks}">

            <!-- issue -->
            <li class="issue-wrapper list-group-item d-flex mb-3"
                th:href="@{/tasks/{id}/edit(id = ${task.id})}">

                <!-- issue info left -->
                <div class="issue-info-left me-auto p-2">
                    <span th:text="${task.taskType}"></span>
                    <span th:text="|${task.project.projectKey}-${task.id}|"></span>
                    <span th:text="${task.summary}"></span>
                </div>

                <!-- issue info right -->
                <div class="issue-info-right p-2">
                    <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>
                    <span th:text="${task.status}"></span>
                    <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>

                    <!-- actions -->
                    <span class="actions">
                        <a th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a th:href="@{/tasks/{id}/delete(id = ${task.id})}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </span>
                </div>

            </li>

        </ul>
    </div>

</div>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>