<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Backlog</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">

    <h2>Backlog</h2>
    <!--        sprint list here-->

    <div class="d-grid gap-1" th:each="sprint : ${sprints}">
        <div class="p-2 bg-light border" th:text="${sprint.name}"></div>
    </div>

    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <a th:href="@{/projects/{projectId}/access(projectId = ${project.id})}">
                <button class="btn btn-primary" id="addPeople" name="addPeople" type="button">Add people</button>
            </a>
            <span th:each="user : ${users}">
                <span th:text="|${user.firstName} ${user.lastName}|"></span>
            </span>
        </div>
        <div class="p-2">
            <a th:href="@{/tasks/add}">
                <button class="btn btn-primary" type="button">Create issue</button>
            </a>
        </div>
    </div>

    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <h3>Backlog</h3></div>
        <div class="p-2">
            <form method="post" th:action="@{/projects/{projectId}/sprints/add(projectId = ${project.id})}">
                <button class="btn btn-primary" type="submit">Create sprint</button>
            </form>
        </div>
    </div>

    <div>
        <ul class="list-group" th:each="task : ${tasks}">
            <li class="list-group-item d-flex mb-3"
                th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                <div class="me-auto p-2">
                    <span th:text="${task.taskType}"></span>

                    <span th:text="|${task.project.projectKey}-${task.id}|"></span>

                    <span th:text="${task.summary}"></span>
                </div>

                <div class="p-2">
                    <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>

                    <span th:text="${task.status}"></span>

                    <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>

                    <a th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                        <i class="fas fa-edit"></i>
                    </a>

                    <a th:href="@{/tasks/{id}/delete(id = ${task.id})}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>


    <!--    Backlog h2-->
    <!--    add people          create issue-->
    <!--    Sprint 1-->
    <!--    backlog h3          create sprint-->
    <!--    add backlog issues here-->

</div>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>