<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Board</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div th:replace="fragments/sidebar :: sidebar (project = ${project})"/>

<div class="container">

    <h2>Board</h2>

    <h1 th:if="${activeSprint != null}" th:text="${activeSprint.name}"></h1>

    <p th:if="${activeSprint == null}">No sprint is active. Start a sprint to see the board.</p>

    <!--  TODO: add sprint with tasks  -->

</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>