<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Board</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div th:replace="fragments/sidebar :: sidebar (project = ${project})"/>

<div class="container">

    <h2>Board</h2>

    <!-- no active sprint -->
    <p th:if="${activeSprint == null}">No sprint is active. Start a sprint to see the board.</p>

    <div th:if="${activeSprint != null}">
        <h1 th:text="${activeSprint.name}"></h1>
        <p th:text="${activeSprintGoal}"></p>

        <b>
            <span th:text="${#temporals.format(activeSprint.dateFrom, 'd MMM')}"></span> -
            <span th:text="${#temporals.format(activeSprint.dateTo, 'd MMM')}"></span>
        </b>
        <span th:text="${remainingDays}"></span><span> day(s) remaining.</span>

        <a th:href="@{/projects/{projectId}/sprints/{sprintId}/complete(projectId = ${project.id}, sprintId = ${activeSprint.id})}">
            <button class="btn btn-primary" type="button">Complete sprint</button>
        </a>

        <!-- edit button -->
        <a th:href="@{/projects/{projectId}/sprints/{sprintId}/edit(projectId = ${project.id}, sprintId = ${activeSprint.id})}">
            <i class="fas fa-edit"></i>
        </a>

        <div class="row">

            <div class="col">
                <h2>TODO</h2><span th:text="|${#lists.size(todoTasks)} issues|"></span>

                <!-- issue list -->
                <ul class="list-group" th:each="task : ${todoTasks}">

                    <!-- issue -->
                    <li class="issue-wrapper col-lg-3 d-flex list-group-item mb-3"
                        th:href="@{/tasks/{id}/edit(id = ${task.id})}">

                        <!-- issue info -->
                        <div class="issue-info me-auto p-2">

                            <!-- issue left -->
                            <div th:text="${task.summary}"></div>

                            <!-- issue right -->
                            <div>
                                <div>
                                    <span th:text="${task.taskType}"></span>
                                    <span th:text="|${task.project.projectKey}-${task.id}|"></span>
                                </div>
                                <div>
                                    <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>
                                    <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h2>IN PROGRESS</h2><span th:text="|${#lists.size(progressTasks)} issues|"></span>

                <!-- issue list -->
                <ul class="list-group" th:each="task : ${progressTasks}">

                    <!-- issue -->
                    <li class="issue-wrapper col-lg-3 d-flex list-group-item mb-3"
                        th:href="@{/tasks/{id}/edit(id = ${task.id})}">

                        <!-- issue info -->
                        <div class="issue-info me-auto p-2">

                            <!-- issue left -->
                            <div th:text="${task.summary}"></div>

                            <!-- issue right -->
                            <div>
                                <div>
                                    <span th:text="${task.taskType}"></span>
                                    <span th:text="|${task.project.projectKey}-${task.id}|"></span>
                                </div>
                                <div>
                                    <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>
                                    <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h2>DONE</h2><span th:text="|${#lists.size(doneTasks)} issues|"></span>

                <!-- issue list -->
                <ul class="list-group" th:each="task : ${doneTasks}">

                    <!-- issue -->
                    <li class="issue-wrapper col-lg-3 d-flex list-group-item mb-3"
                        th:href="@{/tasks/{id}/edit(id = ${task.id})}">

                        <!-- issue info -->
                        <div class="issue-info me-auto p-2">

                            <!-- issue left -->
                            <div th:text="${task.summary}"></div>

                            <!-- issue right -->
                            <div>
                                <div>
                                    <span th:text="${task.taskType}"></span>
                                    <span th:text="|${task.project.projectKey}-${task.id}|"></span>
                                </div>
                                <div>
                                    <span class="badge rounded-pill bg-primary" th:text="${task.storyPoints}"></span>
                                    <span th:text="${task.assignee} ? |${task.assignee.firstName} ${task.assignee.lastName}| : ''"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>