<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Projects</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <h1>Projects</h1>
        </div>
        <div class="p-2">
            <a th:href="@{/projects/add}">
                <button class="btn btn-primary" type="button">Create project</button>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Key</th>
            <th scope="col">Lead</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td>
                <a th:href="@{/projects/{id}/board(id = ${project.id})}" th:text="${project.name}"></a>
            </td>
            <td>
                <p th:text="${project.projectKey}"></p>
            </td>
            <td>
                <p th:text="|${project.projectLead.firstName} ${project.projectLead.lastName}|"></p>
            </td>
            <td>
                <!-- edit button -->
                <a th:href="@{/projects/{id}/edit(id = ${project.id})}">
                    <i class="fas fa-edit"></i>
                </a>

                <!-- delete button -->
                <a th:href="@{/projects/{id}/delete(id = ${project.id})}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- error -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>