<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Project add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Add project details</h2>
<p>You can change these details anytime in your project settings.</p>

<form class="row g-3 needs-validation" novalidate th:action="@{/projects/add}" th:object="${project}" method="post">

    <div>
        
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Project name" required th:field="*{name}" type="text">
            <div class="invalid-feedback">
                A project name can't be empty.
            </div>
        </div>

        <div class="col-md-2 form-group required">
            <label for="projectKey" class="form-label">Key</label>
            <input class="form-control" id="projectKey" placeholder="Project key" required th:field="*{projectKey}"
                   type="text">
            <div class="invalid-feedback">
                Use 2 or 3 uppercase letters.
            </div>
        </div>

        <div class="col-md-4 form-group required">
            <label for="projectLead" class="form-label">Project lead</label>
            <select class="form-select" id="projectLead" required th:field="${project.projectLead}">
                <option selected th:value="null">Select a project lead</option>
                <option th:each="user : ${users}"
                        th:text="|${user.firstName} ${user.lastName}|"
                        th:value="${user.id}">
                </option>
            </select>
            <div class="invalid-feedback">
                You need a lead for your project.
            </div>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/projects}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Create project</button>
    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>