<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Add project</title>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<h2>Add project details</h2>
<p>You can change these details anytime in your project settings.</p>

<div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert"></div>

<form class="row g-3 needs-validation" novalidate action="#" th:action="@{/projects/add}" th:object="${project}" method="post">

    <div>
        <div class="col-md-4">
            <label for="name" class="form-label">Name<a style="color:red">*</a></label>
            <input type="text" class="form-control" id="name" placeholder="Name your awesome team, or set your goals..." th:field="*{name}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-md-12 text-muted">
                <dt>Access</dt>
                <dd>Anyone with access to freeminions can access and aminister this project. <a href="#" class="link-primary">Upgrade your plan</a> to customize project permissions.</dd>
            </div>

        </div>

        <div class="col-md-2 form-group required">
            <label for="projectKey" class="form-label">Key</label>
            <input type="text" class="form-control" id="projectKey" placeholder="Think of a cool key..." th:field="*{projectKey}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4">
            <label for="projectLead" class="form-label">Project lead<a style="color:red">*</a></label>
            <select class="form-select" id="projectLead" th:field="${project.projectLead.id}" required>
                <option selected th:value="null">Pick your project lead</option>
                <option th:each="user : ${users}" th:value="${user.id}" th:text="|${user.firstName} ${user.lastName}|"></option>
            </select>
            <div class="invalid-feedback">
                Oops! You missed your lead.
            </div>
        </div>

    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-secondary" id="cancel" name="cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="save" name="save">Create project</button>
    </div>

</form>

<div th:replace="fragments/footer :: footer"/>

<script th:inline="javascript">
      /*<![CDATA[*/
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
        }, false);
       /*]]>*/
</script>

</body>
</html>