<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Issue add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Create issue</h2>

<form class="row g-3 needs-validation" novalidate th:action="@{/tasks/add}" th:object="${task}" method="post">
    <div>
        <div class="col-md-4 form-group required">
            <label for="project" class="form-label">Project</label>
            <select class="form-select" id="project" required th:field="${task.project}">
                <option selected th:value="null">Select a project</option>
                <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
            </select>
            <div class="invalid-feedback">
                You need a project for your task.
            </div>
        </div>

        <div class="col-md-4 form-group required">
            <label for="taskType" class="form-label">Task type</label>
            <select class="form-select" id="taskType" required th:field="${task.taskType}">
                <option selected th:value="null">Select type of issue</option>
                <option th:each="taskType : ${T(com.sda.project.management.model.TaskType).values()}"
                        th:value="${taskType}" th:text="${taskType}"></option>
            </select>
        </div>

        <div class="col-md-4 form-group required">
            <div class="mb-3">
                <label for="summary" class="form-label">Task summary</label>
                <input class="form-control" id="summary" required th:field="*{summary}">
                <div class="invalid-feedback">
                    Please provide a summary of the task.
                </div>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3"
                          th:field="*{description}">
                </textarea>
            </div>
        </div>

        <div class="col-md-4 form-group d-flex">
            <label for="assignee" class="form-label">Assignee</label>
            <select class="form-select" id="assignee" th:field="${task.assignee}">
                <option selected th:value="null">Select your favorite minion</option>
                <option th:each="user : ${users}" th:value="${user.id}"
                        th:text="|${user.firstName} ${user.lastName}|"></option>
            </select>
            <label class="form-label" for="storyPoints">Story points value</label>
            <input class="form-control" id="storyPoints" min="0" placeholder="1, 2, 3, 5..." th:field="*{storyPoints}"
                   type="number">
            <div class="invalid-feedback">
                Must be greater than 0.
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label for="sprint" class="form-label">Sprint</label>
            <select class="form-select" id="sprint" th:field="${task.sprint}">
                <option selected th:value="null">Add this task to a sprint</option>
                <option th:each="sprint : ${sprints}" th:value="${sprint.id}" th:text="${sprint.name}"></option>
            </select>
        </div>

        <div class="col-md-4 form-group">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" th:field="${task.status}">
                <option selected th:value="null">Select task status</option>
                <option th:each="status : ${T(com.sda.project.management.model.TaskStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/backlog}">
            <button class="btn btn-secondary" id="cancel" name="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" name="save" type="submit">Create issue</button>
    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>