<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Add user</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<h1>Add user</h1>
<form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><label>Display name:</label></td>
            <td><input type="text" th:field="*{displayName}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>

    <div class="card bg-dark text-white">
        <img src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/83/0c/333e756f4688a1431e30c7a86b9d/citrus-hero.jpg "
             class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Orange management tool</h5>
        </div>
    </div>
</form>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
