<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Edit user</title>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<p>Edit User</p>
<form class="row g-3" th:action="@{/user/edit}" th:object="${userToBeEdit}" method="post">
    <table border="1">
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
        <div class="col-md-12">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}">
        </div>

        <div class="col-md-12">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}">
        </div>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
    </table>
</form>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>