<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Register</title>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<h2>Register your user</h2>

<form class="row g-3" th:action="@{/register/add}" th:object="${user}" method="post"
      oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
    <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">
    </div>

    <div class="col-md-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
    </div>

    <div class="col-md-12">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="confirm password"/>
    </div>

    <div class="col-md-12">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}">
    </div>

    <div class="col-md-12">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-secondary" id="cancel" name="cancel">Back</button>
        <button type="submit" class="btn btn-primary" id="save" name="save">Create account</button>
    </div>

</form>

<div th:replace="fragments/footer :: footer-js"/>

</body>
</html>