<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Users</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div class="me-auto p-2">
        <h1>Users</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Projects</th>
            <th scope="col">Enabled</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <p th:text="|${user.firstName} ${user.lastName}|"></p>
            </td>
            <td>
                <p th:text="${user.roles}"></p>
            </td>
            <td>
                <p th:text="${user.projectAccessList}"></p>
            </td>
            <td>
                <p th:text="${user.enabled}"></p>
            </td>
            <td>
                <!-- disable button -->
                <a th:href="@{/users/{id}/disable(id = ${user.id})}" th:if="${user.enabled == true}">
                    <button class="btn btn-danger" type="button">Disable</button>
                </a>

                <!-- enable button -->
                <a th:href="@{/users/{id}/enable(id = ${user.id})}" th:if="${user.enabled == false}">
                    <button class="btn btn-success" type="button">Enable</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>


<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>