<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="footer">

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">© 2021 SDA, All rights reserved.</span>
            </div>

            <div class="col-md-4 justify-content-end d-flex">
                <!-- user info -->
                <span class="text-muted" sec:authorize="isAuthenticated()">
                    Logged user: <span sec:authentication="name"></span>
                    Roles: <span sec:authentication="principal.authorities"></span>
                </span>
            </div>
        </footer>
    </div>
</div>

<div th:fragment="footer-js">
    <!-- load webjars -->
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

    <!-- load custom javascript -->
    <script th:src="@{/js/main.js}"></script>
</div>

</body>
</html>