<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Sprint edit</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<!-- TODO: add sprint name -->
<h2 th:text="|Edit sprint: ${sprint.name}|"></h2>

<form class="row g-3 needs-validation"
      method="post"
      th:action="@{/projects/{projectId}/sprints/{sprintId}/edit(projectId=${projectId}, sprintId=${sprint.id})}"
      th:object="${sprint}">

    <div>

        <div class="col-md-4 form-group required">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" placeholder="Sprint name" required th:field="*{name}" type="text">
            <div class="invalid-feedback">
                A sprint name can't be empty.
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateFrom">Date from</label>
            <input id="dateFrom" th:field="*{dateFrom}" type="date"/>
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateTo">Date to</label>
            <input id="dateTo" th:field="*{dateTo}" type="date"/>
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="sprintGoal">Sprint goal</label>
            <textarea class="form-control" id="sprintGoal" rows="3" th:field="*{sprintGoal}"></textarea>
        </div>

        <div class="col-12">
            <a th:href="@{/projects/{projectId}/backlog(projectId=${projectId})}">
                <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
            </a>
            <button class="btn btn-primary" id="save" type="submit">Save</button>
        </div>

    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>