.body > container {
    padding-top: 30px;
}

.project-card {
    width: 300px;
    max-height: 500px;
}

/* add required * to form labels */
.form-group.required .form-label:after {
  content: " *";
  color: red;
}
