<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Home</title>
</head>
<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container img-fluid" style="width:500px;">
    <img th:src="@{/images/users.png}"/>
    <div>Start your awesome journey today!</div>

    <!-- button to initialize toast -->
    <button type="button" class="btn btn-primary" id="toast-btn">Initialize toast</button>
</div>

<!-- Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Project created! </strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <a th:href="@{/projects}">Open!</a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/toast.js}"></script>

</body>
</html>