<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add project</title>-->
<!--</head>-->
<!--<body>-->

<!--<p>Add Participation in project</p>-->
<!--<form action="#" th:action="@{/participationInProject/add}" th:object="${newParticipationInProject}" method="post">-->
<!--    <table border="1">-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><label> Name</label></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><input type="text" th:field="*{name}" /></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><label>Description:</label></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><input type="text" th:field="*{description}" /></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--        <tr>-->
<!--            <td><input type="submit" value="Submit" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->